<div class="form-container">
  <form>
    <h4>Issue Id: {{issueId}}</h4>
    <h4>Creation Date: {{createdDate}}</h4>
    <div class="form-group mt-4">
      <label for="description"><h4>Description:</h4></label>
      <textarea class="form-control" id="description" rows="3"></textarea>
    </div>
    <div>
      <div class="severity mt-3">
        <h4>Severity Level:</h4>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="radios" id="radios1" value="Minor" checked>
          <label class="form-check-label" for="radios1">Minor</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="radios" id="radios2" value="Major">
          <label class="form-check-label" for="radios2">Major</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="radios" id="radios3" value="Critical">
          <label class="form-check-label" for="radios3">Critical</label>
        </div>
      </div>
      <div class="status mt-3">
        <h4>Status:</h4>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="statusradios" id="statusradios1" value="Open" checked>
          <label class="form-check-label" for="statusradios1">Open</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="statusradios" id="statusradios2" value="In Progress">
          <label class="form-check-label" for="statusradios2">In Progress</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="statusradios" id="statusradios3" value="Closed">
          <label class="form-check-label" for="statusradios3">Closed</label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary mt-4">Submit</button>
    </div>
  </form>
</div>