nav{
    margin-top: 0;
    padding-bottom:15px;
    background-color: #27303F;
    color: #FFFFFF;
}
a{
    color: white;
    text-decoration: none;
}
.active{
    background-color: #DBE3E6;
    color:#27303F;
}
nav a{
    padding-left: 10px;
    padding-right: 10px;
    display: inline;
    font-size: 200%;
}
nav ul{
    padding-left: 10px;
    padding-right: 10px;
    list-style-type: none;
    display: inline;
    float: right;
}
nav a h1{
    display: inline;
}

nav ul li{
    display: inline;
}
/* nav h1{
    float: left;
}
nav ul li{
    text-align: right;
    text-decoration: none;
    float: left;
    padding: 0px 5px;
} */