
<form #updateForm="ngForm" (ngSubmit)="update(updateForm.value)" >
    <div class="card card-primary mt-1  mb-1">
      <div class="card-header text-white" style="background-color: #563D7C">
        <h5>Update Issue</h5>
      </div>
      <div class="card-body" style="background-color: #E1D3F7">
  
        <div class="row">
          <div class="form-group col-md-6">
            <label for="IssueId">Issue ID</label>
            <input class="form-control" id="IssueId" name="Id" type="text" readonly [(ngModel)]="ID.Id" >
          </div>
  
          <div class="form-group col-md-6">
            <label for="cd">Created Date</label>
            <input class="form-control" id="cd" name="CreatedDate" type="text" readonly [(ngModel)]="ID.CreatedDate">
          </div>
        </div>
  
        <div class="form-group">
          <label for="des" [class.text-danger]="desc.invalid && desc.touched">Description **</label>
          <textarea class="form-control form-control-label"  [class.is-invalid]="desc.invalid && desc.touched" id="des" required name="Description" type="text" [(ngModel)]="ID.Description" #desc="ngModel" rows="3"></textarea>
          <div class="invalid-feedback" *ngIf="desc.invalid && desc.touched">
            Please describe the issue. It is a Mandatory Field.
          </div>
        </div>
  
        <div class="row">
          <div class="form-group col-md-6">
            <label for="sev">Severity Level</label>
            <div class="form-control" id="sev">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="sev1" name="Severity" value="Minor" [(ngModel)]="ID.Severity">
                <label for="sev1" class="form-check-label">Minor</label>
              </div>
              
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="sev2" name="Severity" value="Major" [(ngModel)]="ID.Severity">
                <label for="sev2" class="form-check-label">Major</label>
              </div>
              
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="sev3" name="Severity" value="Critical" [(ngModel)]="ID.Severity">
                <label for="sev3" class="form-check-label">Critical</label>
              </div>
            </div>
          </div>
  
          <div class="form-group col-md-6">
            <label for="sta">Status</label>
            <div class="form-control" id="sta">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="sta1" name="Status" value="Open" [(ngModel)]="ID.Status">
                <label for="sta1" class="form-check-label">Open</label>
              </div>
              
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="sta2" name="Status" value="In Progress" [(ngModel)]="ID.Status">
                <label for="sta2" class="form-check-label">In Progress</label>
              </div>
              
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="sta3" name="Status" value="Resolved" [(ngModel)]="ID.Status">
                <label for="sta3" class="form-check-label">Resolved</label>
              </div>
              <div class="form-group mt-3" *ngIf='ID.Status == "Resolved"'>
                <label for="res" [class.text-danger]="resDate.invalid && resDate.touched">Resolved Date **</label>
                <input class="form-control" [class.is-invalid]="resDate.invalid && resDate.touched" id="res" name="ResolvedDate" required type="date" [(ngModel)]="ID.ResolvedDate" #resDate="ngModel">
                <div class="invalid-feedback" *ngIf="resDate.invalid && resDate.touched">
                  Please select Resolved Date. It is a Mandatory Field.
                </div>
              </div>
            </div>
          </div>
          <div class="help-block text-muted ml-3">
            ** Mandatory field.
          </div>
        </div>
      </div>
      <div class="card-footer" style="background-color: #563D7C">
        <input class="btn btn-primary"  [disabled]="updateForm.invalid" type="submit" value="Save">
      </div>
    </div>
  </form>
