<div class="issues-container">
  <div class="mb-2" *ngFor="let issue of issues">
    <h3 *ngIf="default" style="text-align: center">There is nothing to show. Please raise issue by clicking "Add New" button.</h3>
    <div class="row" *ngIf="issue.Id != 0">
      <div class="col-md-11">
        <ul class="list-group">
          <li class="list-group-item"><strong>Issue ID: </strong>{{issue.Id}}</li>
          <li class="list-group-item"><strong>Created Date: </strong>{{issue.CreatedDate}}</li>
          <li class="list-group-item"><strong>Description: </strong>{{issue.Description}}</li>
          <li class="list-group-item"><strong>Severity: </strong>{{issue.Severity}}</li>
          <li class="list-group-item"><strong>Status: </strong>{{issue.Status}}</li>
        </ul>
      </div>
      <div class="col-md-1">
        <button type="button" class="btn btn-warning mt-3 mr-1">Update</button> 
        <button type="button"  class="btn btn-danger mt-3 mr-1">Delete</button>
      </div>
    </div>
  </div>
</div>
