<div class="mx-auto mt-5 home-container" style="width: 100%">
  <h3 style="text-align: center;">
    This is a demonstration of an Issue Tracker web application created with Angular and Bootstrap. It stores data locally as JSON object. You can click Issues button to view the previously raised issues. You will also see Update button before every entry, by clicking you will be able to update the issue or change the status.If you are using this app for first time, there may be no previously stored data. So, Please click Add New button to add some sample Issues.
  </h3>
  <ul class="mt-4">
    <li>
      <h3>To add new issues click on Add New Button.</h3>
    </li>
    <li>
      <h3>To view issues click on Issues Button.</h3>
    </li>
  </ul>
</div>